- var COOKIE = LANG.cookie;

section.policy
	.container
		h2.policy__title.title!=COOKIE.cookie_title
		.policy__wrapper
			.policy__description!=COOKIE.cookie_description1
			.policy__item
				.policy__index!=COOKIE.cookie_index1
				.policy__description!=COOKIE.cookie_description2
				.policy__description!=COOKIE.cookie_description3
			.policy__item
				.policy__index!=COOKIE.cookie_index2
				.policy__description!=COOKIE.cookie_description4
			.policy__item
				.policy__index!=COOKIE.cookie_index3
				.policy__description!=COOKIE.cookie_description5
			.policy__item
				.policy__index!=COOKIE.cookie_index4
				ul.policy__list
					li.policy__list-item
						.policy__item-title!=COOKIE.cookie_item_title1
						.policy__item-description!=COOKIE.cookie_item_description1
					li.policy__list-item
						.policy__item-title!=COOKIE.cookie_item_title2
						.policy__item-description!=COOKIE.cookie_item_description2
					li.policy__list-item
						.policy__item-title!=COOKIE.cookie_item_title3
						.policy__item-description!=COOKIE.cookie_item_description3
					li.policy__list-item
						.policy__item-title!=COOKIE.cookie_item_title4
						.policy__item-description!=COOKIE.cookie_item_description4
			.policy__item
				.policy__index!=COOKIE.cookie_index5
				.policy__description!=COOKIE.cookie_description6
				.policy__description!=COOKIE.cookie_description7
			.policy__item
				.policy__index!=COOKIE.cookie_index6
				.policy__description!=COOKIE.cookie_description8

