- var TERMS = LANG.terms;

section.policy
	.container
		h2.policy__title.title!=TERMS.terms_title
		.policy__wrapper
			.policy__item
				.policy__index!=TERMS.terms_index1
				.policy__description!=TERMS.terms__description1
			.policy__item
				.policy__index!=TERMS.terms_index2
				.policy__description!=TERMS.terms__description2
				ul.policy__list
					li.policy__list-item!=TERMS.terms_list_item1
					li.policy__list-item!=TERMS.terms_list_item2
					li.policy__list-item!=TERMS.terms_list_item3
					li.policy__list-item!=TERMS.terms_list_item4
					li.policy__list-item!=TERMS.terms_list_item5
				.policy__description!=TERMS.terms__description3
			.policy__item
				.policy__index!=TERMS.terms_index3
				.policy__description!=TERMS.terms__description4
				.policy__description!=TERMS.terms__description5
			.policy__item
				.policy__index!=TERMS.terms_index4
				.policy__description!=TERMS.terms__description6
			.policy__item
				.policy__index!=TERMS.terms_index5
				.policy__description!=TERMS.terms__description7
			.policy__item
				.policy__index!=TERMS.terms_index6
				.policy__description!=TERMS.terms__description8
			.policy__item
				.policy__index!=TERMS.terms_index7
				.policy__description!=TERMS.terms__description9
			.policy__item
				.policy__index!=TERMS.terms_index8
				.policy__description!=TERMS.terms__description10


