- var ABOUTPAGE = LANG.aboutpage;

section.about-main
	.container
		img.about-main__logo(src='img/svg/logo.svg' alt='')
		p.about-main__desc!=ABOUTPAGE.about_page_description
		.about-main__list
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_1.svg' alt='')
				p.about-item__text!=ABOUTPAGE.about_page_item1
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_2.svg' alt='')
				p.about-item__text!=ABOUTPAGE.about_page_item2
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_3.svg' alt='')
				p.about-item__text!=ABOUTPAGE.about_page_item3
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_4.svg' alt='')
				p.about-item__text!=ABOUTPAGE.about_page_item4
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_5.svg' alt='')
				p.about-item__text!=ABOUTPAGE.about_page_item5
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_6.svg' alt='')
				p.about-item__text!=ABOUTPAGE.about_page_item6