- var ABOUTPAGEFORM = LANG.aboutpageform;

section.about-form
	.container
		h2.about-form__title.title!=ABOUTPAGEFORM.aboutpageform_title
		.about-form__wrapper
			form.contacts-form(action="/", method="post")
				p.contacts-form__title!=ABOUTPAGEFORM.aboutpageform_cta
				p.contacts-form__desc!=ABOUTPAGEFORM.aboutpageform_callback
				.contacts-form__wrapper
					.contacts-form__inputs
						input.contacts-form__input(type="text" name="name" placeholder=ABOUTPAGEFORM.aboutpageform_field_name required)
						input.contacts-form__input(type="tel" name="phone" placeholder=ABOUTPAGEFORM.aboutpageform_field_phone required)
						input.contacts-form__input(type="email" name="email" placeholder=ABOUTPAGEFORM.aboutpageform_field_email required)
						textarea.contacts-form__input.contacts-form__input--text(name="comment" placeholder=ABOUTPAGEFORM.aboutpageform_field_message required)
					button.contacts-form__btn.btn!=ABOUTPAGEFORM.aboutpageform_btn