- var ORDERPAGEFORM = LANG.orderpageform;
- var PRODINFO = LANG.product_info;


section.order-block
    .container
        .order-block__wrapper
            .order-block__product-wrap
                img.order-block__product.js-product-photo(src='' alt='')
                p.order-block__name.js-product-name
            .order-block__form
                form.contacts-form.x_order_form#order-form(action="https://tracker.everad.com/conversion/new" method='post')
                    p.contacts-form__title!=ORDERPAGEFORM.orderpageform_title
                    .contacts-form__wrapper
                        .contacts-form__inputs
                            input.contacts-form__input(type="text" name="name" placeholder=`${ORDERPAGEFORM.orderpageform_name}` required)
                            input.contacts-form__input(type="text" name="phone" placeholder=`${ORDERPAGEFORM.orderpageform_tel}` required)
                            input.contacts-form__input(type="email" name="email" placeholder=`${ORDERPAGEFORM.orderpageform_email}` required)
                        .contacts-form__counter.counter
                            img.counter__photo.js-product-photo(src='' alt='')
                            p.counter__text!=ORDERPAGEFORM.orderpageform_count
                            .counter__block
                                .counter__block-arrow.js-counter-arrow-dec
                                    | <
                                .counter__num.js-counter-number 1
                                .counter__block-arrow.js-counter-arrow-inc
                                    | >

                        .contacts-form__promocode.promocode
                            input.promocode__input.js-input-promocode(type="text" name="promocode" placeholder=ORDERPAGEFORM.orderpageform_promo_plh autocomplete="off")
                            button.promocode__btn.js-button-promocode(disabled)!= ORDERPAGEFORM.orderpageform_promo_btn

                        .contacts-form__price
                            .contacts-form__price-item.price-item
                                p.price-item__text!= ORDERPAGEFORM.orderpageform_price
                                p.price-item__value
                                    span.js-price-product
                                    span.js-currency!= PRODINFO.currency
                            .contacts-form__price-item.price-item
                                p.price-item__text!= ORDERPAGEFORM.orderpageform_quantity
                                p.price-item__value.js-counter-number 1
                            .contacts-form__price-item.price-item
                                p.price-item__text!= ORDERPAGEFORM.orderpageform_discount
                                p.price-item__value
                                    span.js-sale-product 0
                                    span.js-currency!= PRODINFO.currency
                            .contacts-form__price-item.price-item.price-item--main
                                p.price-item__text!= ORDERPAGEFORM.orderpageform_total
                                p.price-item__value
                                    span.js-price-order
                                    span.js-currency!= PRODINFO.currency

                        button.contacts-form__btn.btn(type='submit')!=ORDERPAGEFORM.orderpageform_btn

                        input.js-data(type='hidden' name='niche' value='')
                        input.js-data(type='hidden' name='product' value='')
                        input.js-data(type='hidden' name='count' value='')
                        input.js-data(type='hidden' name='country' value='')
                        input.js-data(type='hidden' name='company' value='Naturallic')
                        input.js-data(type='hidden' name='price' value='')
                        input.js-data(type='hidden' name='discount-price' value='')
                        input.js-data(type='hidden' name='total-price' value='')

                        input(type='hidden' name='lang' value='')
                        input(type='hidden' name='campaign_id' value='')
                        input(type='hidden' name='es_list_id' value='')
                        input(type='hidden' name='chatbot_history' value='{}')
                        input(type='hidden' name='sid5' value='{subid}')
                        input(type='hidden' name='landing_id' value='')
                        input(type='hidden' name='country_code' value='')
                        input(type='hidden' name='redirect_url' value='')
                        input(type='hidden' name='location' value='')