mixin langSelect(page)
    .lang-select
        .lang-select__current
        .lang-select__body

            a.lang-select__option.lang-select__option--default(data-lang='cz' href=url('', `/${page}.html`))
                img.lang-select__flag(src='img/language-cz.png' alt='cz')

            a.lang-select__option(data-lang='hu' href=url('hu', `/${page}.html`))
                img.lang-select__flag(src='img/language-hu.png' alt='hu')

            a.lang-select__option(data-lang='ro' href=url('ro', `/${page}.html`))
                img.lang-select__flag(src='img/language-ro.png' alt='ro')

            a.lang-select__option(data-lang='it' href=url('it', `/${page}.html`))
                img.lang-select__flag(src='img/language-it.png' alt='it')

            a.lang-select__option(data-lang='bg' href=url('bg', `/${page}.html`))
                img.lang-select__flag(src='img/language-bg.png' alt='bg')


            a.lang-select__option(data-lang='ee' href=url('ee', `/${page}.html`))
                img.lang-select__flag(src='img/language-ee.png' alt='ee')


            a.lang-select__option(data-lang='hr' href=url('hr', `/${page}.html`))
                img.lang-select__flag(src='img/language-hr.png' alt='hr')


            a.lang-select__option(data-lang='lt' href=url('lt', `/${page}.html`))
                img.lang-select__flag(src='img/language-lt.png' alt='lt')


            a.lang-select__option(data-lang='lv' href=url('lv', `/${page}.html`))
                img.lang-select__flag(src='img/language-lv.png' alt='lv')

            a.lang-select__option(data-lang='pl' href=url('pl', `/${page}.html`))
                img.lang-select__flag(src='img/language-pl.png' alt='pl')

            a.lang-select__option(data-lang='pt' href=url('pt', `/${page}.html`))
                img.lang-select__flag(src='img/language-pt.png' alt='pt')

            a.lang-select__option(data-lang='sl' href=url('sl', `/${page}.html`))
                img.lang-select__flag(src='img/language-sl.png' alt='sl')